<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alerta y boton.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">¡Alerta¡¡</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>

  <ion-button color="warning" size="large" expand="full" (click)="alertaBasica()" >Mostrar Alerta</ion-button>

  

 

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->


  
</ion-content>

